include LICENSE
include LICENSE.LESSER
include README.md
include CHANGELOG.md
recursive-include chemsmart/settings/templates *.yaml *.template
recursive-include chemsmart/agent/harness/basis_sets *.json
