# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.
ase~=3.23.0b1
click~=8.1.8
torchani
basis-set-exchange

pytest~=7.4.3
numpy~=1.25.2
setuptools~=70.1.1
rdkit~=2023.09.2
crest~=2.12
yaml~=0.2.5
pyyaml~=6.0.1
pymatgen~=2024.11.13
scipy~=1.13.0
periodictable~=1.6.1